# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.idea/
.idea/*
.DS_store
.DS_Store

Tonsser/.DS_store
Tonsser/Preview.html
Tonsser/Pods/
Tonsser/fastlane/build/*
Tonsser/fastlane/screenshots/
Tonsser/fastlane/metadata/*
Tonsser/fastlane/report.xml
Tonsser/fastlane/*.png
Tonsser/fastlane/*.html
Tonsser/Carthage/*
Tonsser/Cartfile.resolved
Tonsser/localizations/en/strings.csv
Tonsser/Tonsser/Resources/Localization/*.lproj/*