# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.idea/
.idea/*
.DS_store
.DS_Store

.DS_store
Preview.html
Pods/
fastlane/build/*
fastlane/screenshots/
fastlane/metadata/*
fastlane/report.xml
fastlane/*.png
fastlane/*.html
Carthage/*
Cartfile.resolved
localizations/en/strings.csvw