<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PendlerGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchApp (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D429F0BE1F23B67400AB3CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D485465B1C761BED0011E149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D485466F1C761BED0011E149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D485467A1C761BED0011E149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D129881F2123BE00608372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D129CB1F21354900608372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
